name: release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  # Build and release for Linux/macOS/Windows 
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.ref }}

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run GoReleaser 
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean --skip=chocolatey
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
          SCOOP_TAP_GITHUB_TOKEN: ${{ secrets.SCOOP_TAP_GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: ${{ github.ref_name }}

      - name: Publish Go module
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          GO111MODULE: on
          MODULE_PATH: github.com/dployr-io/dployr
        run: |
          go env -w GOPROXY=direct
          go env -w GOSUMDB=off
          VERSION="${GITHUB_REF_NAME}"
          go list -m "${MODULE_PATH}@${VERSION}"

      - name: Upload dist artifacts
        uses: actions/upload-artifact@v4
        with:
          name: goreleaser-dist
          path: dist/**

      - name: Create discord payload
        run: |
          touch release-update.json
          cat <<EOF > release-update.json
          {
            "content": "**New dployr release!**",
            "embeds": [
              {
                "title": "Version ${{ github.ref_name }} is now live",
                "description": "New release available",
                "url": "https://github.com/${{ github.repository }}/releases/tag/${{ github.ref_name }}",
                "color": 3066993
              }
            ]
          }
          EOF

      - name: Send discord message via webhook
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          raw-data: release-update.json
